 * {
     box-sizing: border-box;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 ul li {
     position: relative;
     padding: 12px 8px 12px 40px;
     list-style-type: none;
     background: #eee;
     font-size: 18px;
     transition: 0.2s;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 ul li:nth-child(odd) {
     background: #f9f9f9;
 }

 ul li:hover {
     background: #ddd;
 }

 .done {
     text-decoration: line-through;
 }

 span {
     margin-left: 10px;
     margin-right: 10px;
     font-size: 20px;
     color: #4d4d4d;
     cursor: pointer;
 }

 .header {
     background-color: #19a800;
     padding: 30px 40px;
     color: white;
     text-align: centerrgb(1, 199, 44);
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }


 .text-input {
     margin: 0;
     border: none;
     border-radius: 0;
     width: 75%;
     padding: 10px;
     float: left;
     font-size: 16px;
 }

 .addBtn {
     padding: 10px;
     width: 25%;
     background: #d9d9d9;
     color: #555;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;
     border-radius: 0;
     border: none;
 }

 .task-item {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding: 10px;
 }

 .btn {
     padding: 10px;
     width: 40%;
     background: #d9d9d9;
     color: #555;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;
     border-radius: 0;
     border: none;
     margin-right: 5px;

 }

 .edit-btn {
     background: #4CAF50;
     color: white;
 }

 .delete-btn {
     background: #f44336;
     color: white;
 }

 .controls {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 40%;
     margin-left: auto;

 }
 
 .todo-list {
     margin: auto;
     width: 50%;
     padding: 10px;
 }